@import "tailwindcss";

@theme {
  --color-primary: #e5d8c5;
  --color-secondary: #000000;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .cont {
    @apply px-5 max-w-[1250px] mx-auto;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}
